{# templates/home/index.html.twig #}
{% extends 'base_admin.html.twig' %}

{% block title %}Accueil - Gestion des Stages{% endblock %}

{% block body %}
  <div class="container">
    <h1>Bienvenue sur la plateforme de Gestion des Stages</h1>
    <p>Ici, vous pouvez gérer les stages, stagiaires, matières et professeurs.</p>
    <!-- Ajoutez plus de contenu ou de liens vers d'autres sections ici -->
  </div>
{% endblock %}
